#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.grid {
  display: grid;
  grid-template:
    "a b c" 1fr
    "d e f" 1fr / 1fr 1fr 1fr;
  gap: 1vw;
}

.area {
  border: 1px solid black;
  display: grid;
}

.main-screen {
  grid-area: b;
  min-width: 480px;
  min-height: 320px;
}

.scene-settings {
  grid-area: c;
}

.import {
  grid-area: f;
}

.context {
  grid-area: e;
}

.import-control {
  display: flex;
  align-items: center;
  gap: 1rem;
}

input[type="file"] {
  display: none;
}